@import url("https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Osita";
  src: url("../src/assets/fonts/FontsFree-Net-Otista-7BwYE.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
}

@font-face {
  font-family: "DM";
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
}

@font-face {
  font-family: "Bigshot One";
  src: url("https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap");
}
@font-face {
  font-family: "Manrope";
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}
