@import url("https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Osita";
  src: url("../src/assets/fonts/FontsFree-Net-Otista-7BwYE.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
